.app-tabs {
  display: none;
  max-width: 1000px; 
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 840px) {
  .app-tabs {
    display: block;
  }
}

.app-tabs-icon {
  display: block;
}
@media (min-width: 840px) {
  .app-tabs-icon {
    display: none;
  }
}