.cell {
	text-align: center;
	min-height: 300px;
	margin: 0;
	padding-top: 10px;
	line-height: 200px;
	opacity: 0.9;
	transition: opacity 2s ease-out 1s;
	&:hover {
		transition: opacity 2s ease-out 1s;
		opacity: 1;
	}
}