.cell {
  text-align: center;
  height: 275px;
  margin: -19px -9px;
  line-height: 200px;
  opacity: 0.9;
  transition: opacity 3.4s ease-out 1s;
  -webkit-transition: opacity 3.4s ease-out 1s;
  -moz-transition: opacity 3.4s ease-out 1s;
  -o-transition: opacity 3.4s ease-out 1s;
  -ms-transition: opacity 3.4s ease-out 1s;
}

.cell:hover {
  opacity: 1;
}