html, body {
  color: rgba(0, 0, 0, 0.87);
  /*color: rgba(250, 250, 250, 0.87);*/
  background: #fafafa;
  /*background: #303030;*/
}
body {
}

h1, h2, h3, h4, caption {
  color: rgba(0, 0, 0, 0.54);
}
h5, h6, .subhead, .menu, button {
  color: rgba(0, 0, 0, 0.87);
}

a {
  color: #ff4081;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

strong {

}

.active {
  color: #e91e63;
}

.grayscale-filter {
	filter: saturate(0.03); 
}

.services-price {
  color: #0097A7 !important;
}
.services-text {
  color: #00838F !important;
}