.local-video-container {	
	box-sizing: border-box;
	/*border: 10px solid green;*/
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
}
.local-video-full {
	box-sizing: border-box;
	/*border: 1px solid red;*/
	position: absolute;
	height: 100%;
	right: 0;
	bottom: 0;
}
.local-video-small {
	box-sizing: border-box;
	/*border: 1px solid red;*/
	position: absolute;
	height: 25%;
  transition: height 0.4s ease-out 0.2s;
	right: 0;
	bottom: 0;
}